
@{
    Layout = null;
}
@model IEnumerable<Mask>
@{
    foreach (Mask mask in Model)
    {
        <div>
            <div>@mask.Name</div>
            <div>@mask.Count</div>
            <div>@mask.Price</div>
            <div>@mask.Description</div>
        </div>
        <div>

        </div>
    }
}